.buttonContainer {
  display: flex;
  text-align: center;
  margin: 0 0.75rem;
  justify-content: space-evenly;
}

.button {
  font-family: courier;
  cursor: pointer;
  font-weight: 500;
  font-size: 1rem;
  line-height: inherit;
  position: relative;
  text-decoration: none;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  -webkit-appearance: none;
  -moz-appearance: none;
  display: inline-block;
  padding: 0.5rem;
}

.button:disabled{
  color: black;
  border: 1px solid black;
  cursor: not-allowed;
}

.buttonGreen {
  font-family: courier, 'sans-serif';
  font-weight: bold;
  outline: none;
  background-color: #64d18a;
  color: black;
  transition: all 200ms ease;
  padding: 10px 20px;
  font-size: 0.875rem;
}

.buttonGreen:hover {
  background-color: #8bdda8;
  color: gray;
  cursor: pointer;
}

.cardForm {
  max-width: 50.75em;
  margin: 0 auto;
  padding: 1.875em;
}